page-login {

  .login-content {

    position: relative;
    #first {
      background-color: map-get($colors, primary);
      height: 50%;


      #bg {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: 40vw;
        max-width: 250px;
        max-height: 250px;
        min-width: 100px;
        min-height: 100px;
      }
    }


    .login-box {

      background-color: map-get($colors, accent);
      width: 85%;
      border-radius: 30px;
      max-width: 650px;
      position: absolute;
      top:50%;
      left: 50%;
      margin-top: -30px;
      transform: translateX(-50%);
    }

     ion-item {
       padding-left: 30px !important;
       font-size: 1em;
       margin: 0 auto 20px auto;
       max-width: 500px;
       width: 85%;

       #name-input {
         border-bottom: 1px solid map-get($colors, primary);
       }

     }

     .signup-col {
       padding-bottom: 20px;
     }


     .submit-btn {
       background: color($colors, primary);
       border-radius: 30px !important;
       border: 2px solid map_get($colors, accent);
       max-width: 200px;
       margin: 0 auto 20px auto;

       span{
         color: map-get($colors, accent);
       }

     }
    .submit-btn:hover {
      background: color($colors, accent);
      border: 2px solid map_get($colors, primary);

      span{
        color: map-get($colors, primary);
      }

    }


    #forgot-password{
      margin: auto;
      max-width: max-content;

    }

  }
  .invisible{
  	display: none;
  }



}
