page-chat {


  ion-content {
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }

  .test{
    background-color: transparent;
    .user
    {
      position: relative;
      width: 50%;
      padding: 10px;
      margin-left: 50%;
      background: map-get($colors, light);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    .other {

      position: relative;
      width: 50%;
      padding: 10px;
      background: map-get($colors, accent);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

  }


  ion-footer {
  /*
    #other
    {
      position: relative;
      width: 240px;
      height: 120px;
      padding: 0px;
      background: #FFFFFF;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    #other:after
    {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 9px 18px 9px 0;
      border-color: transparent #FFFFFF;
      display: block;
      width: 0;
      z-index: 1;
      left: -18px;
      top: 89px;
    }

    #user
    {
      position: relative;
      width: 240px;
      height: 120px;
      padding: 0px;
      background: #303F9F;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    #user:after
    {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 9px 0 9px 18px;
      border-color: transparent #303F9F;
      display: block;
      width: 0;
      z-index: 1;
      right: -18px;
      top: 89px;
    }
    */
    #compose {
      background: transparent;
      border: 0px;
      position: relative;
      padding: 10px;


      ion-textarea {
        background-color: #ffffff;
        font-size: 14px;
        padding: 1px 5px 1px 5px;
        border-radius: 10px;
        border: 1px solid #ECE9E6;
      }
      #button{
        width: 55px;
      }
      button{

        border-radius: 50%;
        padding: 20px;
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 8px;
        right: 0px;

      }
    }
  }
}
