page-chat {

  ion-content {
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  .chat-item {
    background-color: transparent;



    .bubble {
      position: relative;
      max-width: 80%;
      width: max-content;
      padding: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;

      h3 {

        padding-left: 5px;
        margin-bottom: 5px;
        font-weight: bold;

      }
      p {
        padding-left: 5px;
        padding-right: 10px;
        color: map-get($colors, primary-text-dark);
      }

    }
    .user{
      span {
        height: 0;
        width: 0;
        top: 7px;
        right: 12px;
        border-top: 10px solid transparent;
        border-right: 20px solid map-get($colors, light);
        border-bottom: 10px solid transparent;
        -webkit-transform: rotate(22deg);
        transform: rotate(22deg);
        position: absolute;
      }

      .bubble{
        margin-left: 100%;
        transform: translateX(-100%);
        background: map-get($colors, light);

        h3 {
          display: none;
        }
      }
      h6{
        position: absolute;
        bottom: -2px;
        right: 20px;
      }
    }

    .other{

      span {
        height: 0px;
        width: 0px;
        top: 7px;
        left: 12px;
        border-top: 10px solid transparent;
        border-left: 20px solid map-get($colors, accent);
        border-bottom: 10px solid transparent;
        -webkit-transform: rotate(-22deg);
        transform: rotate(-22deg);
        position: absolute;
      }

      .bubble {
        background: map-get($colors, accent);
      }

      h6{
        position: absolute;
        bottom:-2px;
        left:20px;
      }
    }



    h6{
      font-size: 10px;
      color: map-get($colors, secondary-text);
    }
  }

  ion-footer {
    #compose {
      background: transparent;
      border: 0px;
      position: relative;
      padding: 10px;

      ion-textarea {
        background-color: #ffffff;
        font-size: 14px;
        padding: 1px 5px 1px 5px;
        border-radius: 10px;
        border: 1px solid #ECE9E6;
      }
      #button {
        width: 55px;
      }
      button {

        border-radius: 50%;
        padding: 20px;
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 8px;
        right: 0px;

      }
    }
  }

}
